body {
  background: url("http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=5e5e5e&density=16&opacity=14");
  margin: 0;
  font-family: 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Monaco, source-code-pro, Menlo, Consolas, 'Courier New',
    monospace;
}
